<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.coal.dao.UserBillMapper">
    <select id="getUserBillList" resultType="com.example.coal.bean.UserBill">
        select * from user_bill where user1_id = #{user1_id} and bill_state = #{bill_state}
    </select>

    <insert id="addUserBill" parameterType="com.example.coal.bean.UserBill">
        insert user_bill(user1_id,user2_name,bill_data,bill_type,bill_money,bill_state) value (#{user1_id},#{user2_name},#{bill_data},#{bill_type},#{bill_money},#{bill_state})
    </insert>
</mapper>